@using FoxClub.Models

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Index</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/login">Login page</a></li>
                    <li><a href="/">Main page</a></li>
                </ul>              
            </nav>
        </header>
        <main>
            <img src="~/assets/greenfox.png" alt="Fox" />
            <h1>Welcome to the Green Fox club!</h1>
        </main>
    </body>
</html>
