@model string

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="~/css/login.css" rel="stylesheet" />
        <title>Login</title>
    </head>
    <body>
        <h1>Welcome to Programmer Fox Club!</h1>
        <p>Please provide a name, so you can associate it to your pet"</p>
        <form action="/login" method="post">
            <label id="name" name="name">Name</label>
            <input type="text" name="name" id="name" />
            <button type="submit">GO</button>
        </form>

        @if (Model is null)
        {
            <p></p>
        }
        else if (Model.Length == 0)
        {
             <h4>No input has been provided.</h4>
        }
        else if (Model.Length > 1)
        {
            <h4>@Model</h4>
            <h4>You may now log in with your name.</h4>
        }

    </body>
</html>